<% if logged_in? %>

<h1>id:
<%= @user.id %>
:
<%= @user.name %>
のタスクリスト</h1>


<ul>
<% @tasks.each do |task| %>  
    <li>
<%= link_to task.id , task %>        
:
<%= task.content %>
&gt;
<%= task.status %>
    </li>
<% end %>
</ul>

<%= link_to '新規タスクの作成', new_task_path %>


<% else %>

<h1>タスクリスト</h1>

<% end %>




